.divTopTable{
    background-color:#C9C9C9;
	display: table;
    padding: 3px 3px;
}
.divMainTable{
    width: 1050px;
    background-color:#C9C9C9;
	display: table;
}
.divTopTableRow {
    background-color:#C9C9C9;
	display: table-row;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell {
    background-color: #F3F3F3;
	border: 2px solid #C9C9C9;
	display: table-cell;
	padding: 3px 3px;
}
.divAdvancedMode {
    background-color: #F3F3F3;
	display: table-cell;
	padding: 3px 3px;
}
.divHeaders, .divTableHead {
    background-color:#5F607B;
	border: 2px solid #C9C9C9;
	display: table-cell;
	padding: 3px 3px;
    color: #FFFFFF;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
.divMainTableBody {
	display: table-row-group;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #C4C4C4;
}
.container:hover input ~ .checkmark {
  background-color: #959595;
}
.container input:checked ~ .checkmark {
  background-color: #5F607B;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.del-button {
  cursor:pointer;
	border : solid 0px #ffffff;
	border-radius : 20px;
	moz-border-radius : 20px;
	-webkit-box-shadow : 0px 0px 5px rgba(0,0,0,1.0);
	-moz-box-shadow : 0px 0px 5px rgba(0,0,0,1.0);
	box-shadow : 0px 0px 5px rgba(0,0,0,1.0);
	font-size : 8px;
	color : #f8faf2;
	padding : 1px 2px;
	background : #666882;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666882), color-stop(100%,#ccd9e3));
	background : -moz-linear-gradient(top, #666882 0%, #ccd9e3 100%);
	background : -webkit-linear-gradient(top, #666882 0%, #ccd9e3 100%);
	background : -o-linear-gradient(top, #666882 0%, #ccd9e3 100%);
	background : -ms-linear-gradient(top, #666882 0%, #ccd9e3 100%);
	background : linear-gradient(top, #666882 0%, #ccd9e3 100%);
	filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#666882', endColorstr='#ccd9e3',GradientType=0 );

}
input.checkbox  {
	width : 0.5em;
	height :0.9em;
	padding: 0px;
	margin: 1px;
	}
.hoverTable{
  width:100%; 
  border-collapse:collapse; 
}
.hoverTable td{ 
  padding:7px; border:#9D9FCB 1px solid;
}
/* Define the default color for all the table rows */
.hoverTable tr{
  background: #FFFFFF;
}
/* Define the hover highlight color for the table row */
.hoverTable tr:hover {
  background-color: #F3F3F3;
}
